<footer data-fls-footer class="footer">
    <div class="footer__container">
        <div class="footer__body body-footer">
            <div class="body-footer__logo">
                <img src="@img/footer/Logo.png" alt="Vin Rouge logo" />
            </div>
            <div class="body-footer__content">
                <div class="footer__contact contact-footer">
                    <h3 class="footer__title footer__title--contact ">CONTACT US</h3>
                    <address class="contact-footer__items">
                        <a
                            class="contact-footer__item"
                            href="https://www.google.com/maps?q=Quinta+da+Pacheca+Rua+do+Relogio+do+Sol+261+Cambres+Portugal"
                        >
                            <svg
                                aria-hidden="true"
                                class="contact-icon"
                                xmlns="http://www.w3.org/2000/svg"
                                width="17"
                                height="20"
                                viewBox="0 0 17 20"
                                fill="none"
                            >
                                <path
                                    d="M2.66348 12.8321L8.05601 18.8979L13.4485 12.8321C17.5845 8.17971 14.2814 0.825195 8.05601 0.825195C1.83059 0.825195 -1.47247 8.17971 2.66348 12.8321Z"
                                    stroke="#BB6500"
                                    stroke-width="1.65062"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M8.056 10.7656C9.55319 10.7656 10.7669 9.55185 10.7669 8.05466C10.7669 6.55746 9.55319 5.34375 8.056 5.34375C6.55881 5.34375 5.34509 6.55746 5.34509 8.05466C5.34509 9.55185 6.55881 10.7656 8.056 10.7656Z"
                                    stroke="#BB6500"
                                    stroke-width="1.65062"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                            <span
                                >Rua do Relógio do Sol 261, Cambres,
                                Portugal</span
                            >
                        </a>

                        <a
                            href="mailto:vinrouge@dotcreativemarket.com"
                            class="contact-footer__item"
                        >
                            <svg
                                aria-hidden="true"
                                class="contact-icon"
                                xmlns="http://www.w3.org/2000/svg"
                                width="20"
                                height="17"
                                viewBox="0 0 20 17"
                                fill="none"
                            >
                                <path
                                    d="M2.66076 0.825195H17.3458C18.3554 0.825195 19.1814 1.65123 19.1814 2.66082V13.6746C19.1814 14.6842 18.3554 15.5102 17.3458 15.5102H2.66076C1.65117 15.5102 0.825134 14.6842 0.825134 13.6746V2.66082C0.825134 1.65123 1.65117 0.825195 2.66076 0.825195Z"
                                    stroke="#BB6500"
                                    stroke-width="1.65"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M19.1813 2.66113L10.0032 9.08583L0.825073 2.66113"
                                    stroke="#BB6500"
                                    stroke-width="1.65"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                            <span>vinrouge@dotcreativemarket.com</span>
                        </a>

                        <a href="tel:+1234567890" class="contact-footer__item">
                            <svg
                                aria-hidden="true"
                                class="contact-icon"
                                xmlns="http://www.w3.org/2000/svg"
                                width="20"
                                height="20"
                                viewBox="0 0 20 20"
                                fill="none"
                            >
                                <path
                                    d="M2.15815 0.825195L5.36914 0.941392C6.04547 0.96586 6.64567 1.39295 6.90488 2.03419L7.85432 4.38295C8.0753 4.92953 8.01583 5.55316 7.69582 6.04549L6.47939 7.9171C7.1996 8.9513 9.15856 11.3744 11.2328 12.7928L12.7795 11.8409C13.1726 11.599 13.6432 11.5272 14.088 11.6412L17.1627 12.4296C17.9805 12.6394 18.5315 13.4236 18.4669 14.2857L18.2695 16.918C18.2002 17.8417 17.4442 18.5666 16.5468 18.4623C4.7007 17.0848 -2.24607 0.825169 2.15815 0.825195V0.825195Z"
                                    stroke="#BB6500"
                                    stroke-width="1.65"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                            <span>+1 (123) 456-7890</span>
                        </a>
                    </address>
                </div>

                <div class="footer__about about-footer">
                    <h3 class="footer__title">ABOUT US</h3>
                    <div class="about-footer__items">
                        <a href="#" class="about-footer__item"
                            >Story about us</a
                        >
                        <a href="#" class="about-footer__item"
                            >Our latest blog posts</a
                        >
                        <a href="#" class="about-footer__item"
                            >Purchase our products</a
                        >
                        <a href="#" class="about-footer__item">Keep in touch</a>
                    </div>
                </div>
                <div class="footer__news news-footer">
                    <h3 class="footer__title">LASTEST NEWS</h3>
                    <div class="news-footer__items">
                        <article class="news-footer__item">
                            <a href="#" class="news-footer__link">
                                <time datetime="2019-09-11"
                                    >September 11, 2019</time
                                >
                                <h4>largest vineyard </h4>
                            </a>
                        </article>
                        <article class="news-footer__item">
                            <a href="#" class="news-footer__link">
                                <time datetime="2019-09-11"
                                    >September 11, 2019</time
                                >
                                <h4>Our best aperitifs</h4>
                            </a>
                        </article>
                        <article class="news-footer__item">
                            <a href="#" class="news-footer__link">
                                <time datetime="2019-09-11"
                                    >September 11, 2019</time
                                >
                                <h4>Amazing Recipes</h4>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__copyright">
                Copyright <a href="#"> Dotcreativemarket</a>
            </p>
        </div>
    </div>
</footer>
